{% extends 'base.html' %}

{% block content %}
<main class="recipe-detail">
    <div>
        {% comment %} <a href="{% url 'edit_plan' meal_plan.pk %}">Edit</a> {% endcomment %}
        {% comment %} <a href="{% url 'recipe_delete' recipe.id %}">Delete</a> {% endcomment %}
    </div>
<h1>
    {% for recipe in detail_plan.recipes.all %}
    <li>
    <a href="{% url 'recipe_detail' recipe.pk %}"> {{ recipe }}</a>
    </li>
    {% endfor %}
</h1>
{% comment %} <h2>By {{ how to access detail plan's author?? }}</h2> {% endcomment %}
</main>
{% endblock content %}
