{% extends 'base.html' %}


{% block pagination %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
{% endblock pagination %}

{% block content %}
<main class="recipe-grid">
    <a href="{% url 'create_plan' %}"><button class="button">Create Meal Plan</button></a>
    {% for plan in MealPlan %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'detail_plan' plan.pk %}">{{plan.name}}</a>
        </h2>
      </div>
    {% endfor %}
</main>
{% endblock content %}
{% comment %} {% for mealplan in mealplans_list %}
    <div class="meal-plan-card">
        <h2 class="meal-plan-title">
            <a href="{% url 'meal_plans_list' mealplan.pk %}">{{mealplan.name}}</a>
        </h2>
    </div>
    {% endfor %} {% endcomment %}
